.introducao-bg {
  background: var(--cor-12) url(../../img/dec/bottom-left.svg) no-repeat bottom
    160px left 20px;
  box-shadow: inset 0 -120px var(--cor-0);
}

.introducao img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 40px;
  align-items: center;
  padding-bottom: 40px;
}

.introducao h1 {
  padding-bottom: 32px;
}

.introducao h1 span {
  color: var(--cor-p1);
}

.introducao p {
  margin-bottom: 20px;
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 48px;
  }
  .introducao-bicicleta {
    height: 600px;
    width: 400px;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao-conteudo {
    padding-bottom: 60px;
  }
  .introducao a {
    font-size: 16px;
    padding: 10px 20px 10px 20px;
  }
  .introducao p {
    font-size: 22px;
  }
  .introducao h1 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .introducao-bicicleta {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .introducao {
    padding: 40px 20px;
  }
  .introducao-bicicleta {
    display: none;
  }

  .introducao-conteudo {
    margin-bottom: 60px;
  }
}
